.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.cart-item {
  padding: 10px 0;
}

.line-through {
  text-decoration: line-through;
  color: gray;
}

button {
  cursor: pointer;
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: #fff;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  border-left: 2px solid #c6c6c6;
  padding: 20px;
  overflow-y: auto;
  z-index: 999;
}

.cart-drawer > h1 {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-drawer .cart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  font-weight: 100;
  color: #262626;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 15px;
}

.cart-drawer .close_button {
  padding: 0.2rem 0.5rem;
  margin-top: 10px;
  background-color: none;
  border-radius: 50%;
  border: 2px solid black;
  font-size: 12px;
  font-weight: 900;
}

.cart-drawer .product_container {
  display: flex;
  gap: 20px;
  align-items: start;
  margin-top: 20px;
}

.cart-drawer .product_container .product_img img {
  width: 120px;
  height: 120px;
  padding: 10px;
  border: 1px solid #c6c6c6;
}

.cart-drawer .product_container .product_details h6 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 400;
}

.cart-drawer .product_details .quantity_selector {
  padding: 6px 14px;
  border: 1px solid #c6c6c6;
  display: flex;
  gap: 30px;
  align-items: start;
  margin-top: 20px;
  width: fit-content;
  font-size: 22px;
}

.main_quantity_selector {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.quantity-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0px 5px;
  color: #232323;
  width: fit-content;
}

.quantity-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0 10px;
  color: #232323;
}

.quantity-btn:hover {
  background-color: #f4f4f4;
  transition-duration: 300ms;
}

.quantity-btn:disabled {
  color: #262626;
}

.quantity-display {
  font-size: 16px;
  font-weight: bold;
  padding: 0 15px;
}

.trash-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 16px;
}

.trash-btn:hover {
  color: red;
  transition-duration: 300ms;
}

.parent_checkout_container {
  position: relative;
  min-height: 65vh;
}

.checkout_container {
  border-top: 1px solid #eaeaea;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0px;
}

.checkout_container .total {
  font-weight: 600;
  font-size: 20px;
}

.total-head {
  margin-top: 3px;
}

.total_container {
  display: flex;
  justify-content: space-between;
}

.checkout_button button {
  background-color: #ffdd00;
  font-weight: bolder;
  font-size: 18px;
  padding: 10px 20px;
  border-top: 3px solid #e11837;
  border-left: 3px solid #e11837;
  border-bottom: 10px solid #e11837;
  border-right: 10px solid #e11837;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.checkout_button {
  display: flex;
  justify-content: center;
}

.empty-cart {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 280px 5px;
}

.empty-cart h3 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
}

.empty_cart_button button {
  background-color: #ffdd00;
  font-weight: bolder;
  font-size: 18px;
  padding: 10px 50px;
  border-top: 1px solid #e11837;
  border-left: 1px solid #e11837;
  border-bottom: 10px solid #e11837;
  border-right: 10px solid #e11837;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.empty_cart_button button:hover {
  color: #e11837;
}

.empty_cart_button {
  display: flex;
  justify-content: center;
}

.cart-drawer.open {
  /* overflow: hidden; */
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(0);
}

.cart-drawer.open ~ body {
  overflow: hidden;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
}

body:has(.cart-drawer.open) {
  overflow: hidden;
  height: 100vh;
}

/* mobile responsive */
@media screen and (max-width: 576px) {
  /* cart drawer */
  .cart-drawer {
    width: 300px;
  }
  .cart-drawer .product_container .product_img img {
    width: 60px;
    height: 60px;
  }
  .cart-drawer .product_container .product_details h6 {
    font-size: 16px;
    margin-bottom: 4px;
  }
  .cart-drawer .product_container {
    gap: 10px;
  }
  .checkout_container .total {
    font-size: 16px;
  }
}
