.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  overflow-y: auto;
  z-index: 999;
}

.cart-drawer > h1 {
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-drawer .cart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  font-weight: 100;
  color: #262626;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 15px;
}

.cart-drawer .close_button {
  padding: 0.5rem 1rem;
  border-radius: 50%;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 900;
}

.cart-drawer .product_container {
  display: flex;
  gap: 20px;
  align-items: start;
  margin-top: 20px;
}

.cart-drawer .product_container .product_img img {
  width: 120px;
  height: 120px;
  padding: 10px;
  border: 1px solid #c6c6c6;
}

.cart-drawer .product_container .product_details h6 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 400;
}

.cart-drawer .product_details .quantity_selector {
  padding: 4px 12px;
  border: 1px solid #c6c6c6;
  display: flex;
  gap: 30px;
  align-items: start;
  margin-top: 20px;
  width: fit-content;
  font-size: 22px;
}

.cart-drawer.open {
  overflow: hidden;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(0);
}

/* Add shadow overlay to the body and hide scrollbar when cart is open */
.cart-drawer.open ~ body {
  overflow: hidden; /* Hide scrollbar */
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
}

/* Ensure the body doesn't scroll when cart is open */
body:has(.cart-drawer.open) {
  overflow: hidden;
  height: 100vh; /* Prevent scrolling by limiting height */
}

.cart-item {
  padding: 10px 0;
}

.line-through {
  text-decoration: line-through;
  color: gray;
}

button {
  cursor: pointer;
}
