@media screen and (min-width: 1536px) {
  header {
    max-width: 1440px;
  }
  .shop_section {
    max-width: 1440px;
  }
  .banner_section .banner_main_section {
    max-width: 1440px;
  }
  .main_review_section {
    max-width: 1440px;
  }
}

/* mobile responsive */
@media screen and (max-width: 576px) {
  /* header */
  .div1 {
    display: none;
  }
  .hamburger-menu {
    display: flex;
    justify-content: flex-end;
  }
  /* banner */
  .shop_section {
    display: flex;
    flex-direction: column;
  }
  
.shop_section > img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}
}
